__pycache__/
.venv/
smolvla_base_weights/
smolvla_output/
smolvla-model/
act_output/
dataset-v2/
smolvla_v2_output/
dataset-v2-raw/
dataset-v2-pro-aug/
smolvla_v2_output_raw_data_no_validation/
smolvla_v2_output_pro-aug_data_no_validation/
smolvla_v2_output_pro-aug_data_with_validation/
